@import url('https://cdn.plyr.io/3.7.8/plyr.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-gray-200 font-sans min-h-screen flex flex-col selection:bg-pink-500 selection:text-white;
  }
}

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #181818;
  }
  ::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #db2777;
  }
  .aspect-video {
    aspect-ratio: 16 / 9;
  }
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  /* Animation untuk mobile menu */
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-slideDown {
    animation: slideDown 0.3s ease-out;
  }
}
